* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6em;
}

.subtask {
    margin: 20px 0;
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 16px;
}

ul {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

ul > li {
    list-style-type: none;
    padding: 20px;
    float: left;
    background-color: lightpink;
    width: calc(100%/6);
}

ul > li img {
    margin: 0 auto;
    display: block;
}

.clearfix {
    clear: both;
}


/* Вашият CSS от тук надолу */


#subtask4 li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    /* Реално ако се закоментира долният ред изчезва страният черен правоъгълник в горната част на страницата... но и hover ефектът */
    background-color: black;
    
    opacity: 0.7;
    transition: 1s;
}

li {
    transition: transform 1s;
}

li:hover {
    transform: rotate(360deg);
    background-color: lightblue;
}

ul > li:nth-child(even) {
    background-color: lightblue;
}

@media screen and (max-width: 999px) and (min-width: 600px) {
    ul > li {
        list-style-type: none;
        padding: 20px;
        float: left;
        background-color: lightpink;
        width: calc(100%/3);
    }
}

@media screen and (max-width: 599px) and (min-width: 400px) {
    ul > li {
        list-style-type: none;
        padding: 20px;
        float: left;
        background-color: lightpink;
        width: calc(100%/2);
    }
}

@media screen and (max-width: 399px) {
    ul > li {
        list-style-type: none;
        padding: 20px;
        float: left;
        background-color: lightpink;
        width: calc(100%/1);
    }
}